<header>
    <nav>
        <h2>InstaClone</h2>
        <ul>
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/profiles/new">New profile</a></li>
        </ul>
    </nav>
</header>